<section id="technologies" class="section-padding parallax-window" data-parallax="scroll" data-image-src="<%= image_url('small-slider2.jpg') %>">
	<div class="container">
		<ul class="clients-grid grid-6 nobottommargin clearfix">
			<li><i class="devicon-amazonwebservices-plain-wordmark colored"></i></li>
			<li><a href="http://logofury.com"><%= image_tag "images/clients/2.png" %></a></li>
			<li><a href="http://logofaves.com/2014/03/grabbt/"><%= image_tag "images/clients/3.png" %></a></li>
			<li><a href="http://logofaves.com/2014/01/ladera-granola/"><%= image_tag "images/clients/4.png" %></a></li>
			<li><a href="http://logofaves.com/2014/02/hershel-farms/"><%= image_tag "images/clients/5.png" %></a></li>
			<li><a href="http://logofury.com/logo/food-fight-radio.html"><%= image_tag "images/clients/6.png" %></a></li>
			<li><a href="http://logofury.com"><%= image_tag "images/clients/7.png" %></a></li>
			<li><a href="http://logofury.com/logo/up-travel.html"><%= image_tag "images/clients/8.png" %></a></li>
			<li><a href="http://logofury.com/logo/caffi-bardi.html"><%= image_tag "images/clients/9.png" %></a></li>
			<li><a href="http://logofury.com/logo/bignix-design.html"><%= image_tag "images/clients/10.png" %></a></li>
			<li><a href="http://logofury.com/"><%= image_tag "images/clients/11.png" %></a></li>
			<li><a href="http://logofury.com/"><%= image_tag "images/clients/12.png" %></a></li>
		</ul>
	</div><!-- /.container -->
</section><!-- /.section -->