<!-- Begin Services -->
<section id="services" class="background2 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>Products + Services</h2>
        <span class="section-divider"></span>
      </div>
    </div>

    <div class="row">

      <%= partial 'web' %>

      <!-- Item 2 -->
      <%= partial 'app' %>

      <!-- Item 3 -->
      <%= partial 'social' %>

      <!-- Item 4 -->
      <%= partial 'brand' %>

      <!-- Item 5 -->
      <%= partial 'marketing' %>

      <!-- Item 6 -->
      <%= partial 'photo' %>
    </div>
  </div>
</section>