---
title: Home
---

<%= partial 'jumbotron' %>

<%#= partial 'ideology' %>

<!-- Welcome + Services -->
<section class="background1" id="ideology">
	
	<%= partial 'hello' %>
	
	<div id="our-process-title" class="pt30 pb30">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h4 class="no-margin">Ideology</h4>
				</div>
			</div>
		</div>
	</div>
	<%= partial 'services' %>
</section><!-- /.section -->

<%= partial 'products' %>

<%= partial 'carousel' %>

<!-- Begin About -->
<%#= partial 'about' %>

<!-- Begin Our Count -->
<%#= partial 'numbers' %>

<!-- SOFTWARE PRICING -->
<%= partial 'packages' %>

<%#= partial 'timeline' %>

<!-- WORK -->
<%= partial 'work' %>

<!-- LOGIN -->
<%#= partial 'loginSection' %>

<%= partial 'contact' %>

<!-- MAP -->
<!-- <div id="map"></div> -->